<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <img src='/images/logo.jpg' alt='Logo' />

        <nav>

            <input type="checkbox" id='menu'>
            <label for='menu'>☰</label>

            <ul>
                <li><a href="">Home</a> </li>
                <li><a href="">Quienes</a> </li>
                <li><a href="">Servicios</a> </li>
                <li><a href="">Portfolio</a> </li>
                <li><a href="">Sucursales</a> </li>
                <li><a href="">Contacto</a> </li>
            </ul>

        </nav>
    </header>
    <main>

        <section class='banner'>

            <img src='/images/img-banner.jpg' alt='Banner' />

        </section>

        <section class="products">

            <article>

                <div class="image-container">
                    <img class="photo" src='/images/img-pdto-1.jpg' alt='Producto' />
                    <img class="label" src='/images/img-nuevo.png' alt='Descripción' />
                    <a href="" class="zoom">ampliar foto</a>
                </div>
                <h3 class='title'>Lorem ipsum dolor sit</h3>
                <p class='description'>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi optio minima vero delectus ipsum
                    ipsa dolore facilis quo ratione dicta, inventore ad
                </p>
                <button>ver más</button>

            </article>

            <article>

                <div class="image-container">
                    <img class="photo" src='/images/img-pdto-2.jpg' alt='Producto' />
                    <img class="label" src='/images/img-gratis.png' alt='Descripción' />
                    <a href="" class="zoom">ampliar foto</a>
                </div>
                <h3 class='title'>Lorem ipsum dolor sit</h3>
                <p class='description'>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi optio minima vero delectus ipsum
                    ipsa dolore facilis quo ratione dicta, inventore ad
                </p>
                <button>ver más</button>

            </article>
            
            <article>

                <div class="image-container">
                    <img class="photo" src='/images/img-pdto-3.jpg' alt='Producto' />
                    <img class="label" src='/images/img-descuento.png' alt='Descripción' />
                    <a href="" class="zoom">ampliar foto</a>
                </div>
                <h3 class='title'>Lorem ipsum dolor sit</h3>
                <p class='description'>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi optio minima vero delectus ipsum
                    ipsa dolore facilis quo ratione dicta, inventore ad
                </p>
                <button>ver más</button>

            </article>

            <article>

                <div class="image-container">
                    <img class="photo" src='/images/img-pdto-1.jpg' alt='Producto' />
                    <img class="label" src='/images/img-nuevo.png' alt='Descripción' />
                    <a href="" class="zoom">ampliar foto</a>
                </div>
                <h3 class='title'>Lorem ipsum dolor sit</h3>
                <p class='description'>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi optio minima vero delectus ipsum
                    ipsa dolore facilis quo ratione dicta, inventore ad
                </p>
                <button>ver más</button>

            </article>

            <article>

                <div class="image-container">
                    <img class="photo" src='/images/img-pdto-2.jpg' alt='Producto' />
                    <img class="label" src='/images/img-gratis.png' alt='Descripción' />
                    <a href="" class="zoom">ampliar foto</a>
                </div>
                <h3 class='title'>Lorem ipsum dolor sit</h3>
                <p class='description'>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi optio minima vero delectus ipsum
                    ipsa dolore facilis quo ratione dicta, inventore ad
                </p>
                <button>ver más</button>

            </article>
            
            <article>

                <div class="image-container">
                    <img class="photo" src='/images/img-pdto-3.jpg' alt='Producto' />
                    <img class="label" src='/images/img-descuento.png' alt='Descripción' />
                    <a href="" class="zoom">Ampliar Foto</a>
                </div>
                <h3 class='title'>Lorem ipsum dolor sit</h3>
                <p class='description'>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi optio minima vero delectus ipsum
                    ipsa dolore facilis quo ratione dicta, inventore ad
                </p>
                <button>ver más</button>

            </article>

        </section>
    </main>

    <footer>
        <nav>
            <ul>

                <li><a href="">Home</a> </li>
                <li><a href="">Quienes</a> </li>
                <li><a href="">Servicios</a> </li>
                <li><a href="">Portfolio</a> </li>
                <li><a href="">Sucursales</a> </li>
                <li><a href="">Contacto</a> </li>

            </ul>
        </nav>

    </footer>

</body>

</html>